.searchbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-weight: 700;
}

.input {
  border: 2px solid NavajoWhite;
  border-radius: 2px;
  width: 310px;
  height: 30px;
  font-size: 20px;
  -webkit-text-fill-color: navy;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus {
  outline: 2px solid SandyBrown;
}
.input::placeholder {
  -webkit-text-fill-color: RoyalBlue;
}

.inputWrap {
  display: flex;
  align-items: center;
  position: relative;
}

.btn {
  border-radius: 2px;
  padding: 2px;
  line-height: 0;
  position: absolute;
  right: 33px;
  border: none;
  background-color: transparent;
}
.btn:hover {
  background-color: transparent;
  box-shadow: none;
}

.icon {
  fill: RoyalBlue;
  line-height: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover .icon {
  fill: navy;
}
