.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoFieldWrap {
  display: flex;
  align-items: center;
}

.icon {
  line-height: 0;
  margin-right: 10px;
  color: MediumBlue;
  stroke: navy;
  stroke-width: 1px;
}

.text {
  font-weight: 500;
}

.contactMngBts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn {
  padding: 5px;
  line-height: 0;
}
