.list {
  gap: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: calc(100vh - 80px);
  -webkit-overflow-scrolling: touch;
  border: 1px solid NavajoWhite;
  border-radius:  5px;
}

.item {
  padding: 5px 10px;
  width: 455px;
  border: 2px solid blanchedalmond;
  border-radius: 5px;
}